# Python
__pycache__/
*.pyc
*.pyo

# Lokaler MPV Player
mpv/

# HomeCinemaCrop Logs
last_ffmpeg_command.txt
last_ffmpeg_error.log
last_app_error.log
last_mkvmerge_command.txt
last_mkvmerge_error.log
last_csv_editor_mpv_command.txt
last_csv_editor_mpv_error.log
*.log
*.txt

# Automatisch erzeugte Projekt-/Ausgabedateien
*_crop.csv
*_preview.mp4
*_16x9.mkv

# Große Video-Ausgaben allgemein
*.mkv
*.mp4
*.mov
*.avi
*.ts

# IDE-Dateien
.vscode/
.idea/

# Betriebssystem-Dateien
Thumbs.db
.DS_Store